body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }

  .error {
    color: red;
    margin-top: 5px;
    font-size: 0.8em;
  }
  
.myForm{
  background-color: rgb(212, 212, 212);
  padding: 15px;
  border-radius: 20px;
}
.myInput {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.myButton{
  background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .myTodoItem{
    background-color: white;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    border: 2px solid grey;
    justify-content: space-between;
    align-items: center;
  }


  /* ///////////////////////////////// */

/* .todo-item {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.todo-item span {
  flex-grow: 1;
  margin-right: 10px;
}

.edit-input {
  width: 60%;
  margin-right: 10px;
}

.edit-btn {
  background-color: #ffc107;
  color: #fff;
  border: none;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  margin-left: 5px;
} */
